name: GangNamMatJip

on:
  workflow_dispatch:

jobs:
  crawl:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r crawl/requirements.txt

      - name: Run Selenium Crawl
        run: python crawl/crawl.py

      - name: Parse HTML
        run: python crawl/parse.py

      - name: Zip result
        run: |
          zip -r gangnammatjip_result.zip output

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: gangnammatjip-result
          path: gangnammatjip_result.zip
