name: GangNamMatJip

on:
  workflow_dispatch:

jobs:
  fetch:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Chrome & Selenium
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable
          pip install selenium webdriver-manager

      - name: Fetch HTML using Selenium
        run: |
          python fetch.py

      - name: Zip result
        run: |
          zip -r stylec_html.zip html_cache

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: gangNamMatJip-html
          path: gangNamMatJip_html.zip
