name: stylec-crawler

on:
  workflow_dispatch:
    inputs:
      visitMaxPage:
        required: true
        default: "5"
      shippingMaxPage:
        required: true
        default: "20"

jobs:
  crawl:
    runs-on: ubuntu-latest

    steps:
      - name: Init result
        run: |
          echo '{
            "visit": { "pages": [] },
            "shipping": { "pages": [] }
          }' > result.json

      - name: Crawl Visit Trials
        run: |
          for ((p=1; p<=${{ inputs.visitMaxPage }}; p++))
          do
            RES=$(curl -s \
              -H "User-Agent: Mozilla/5.0" \
              -H "Referer: https://www.stylec.co.kr/" \
              "https://api2.stylec.co.kr:6439/v1/trial?order=wr_last&page=$p&count=50&campaignType[]=%EB%B0%B0%EB%8B%AC%ED%98%95&campaignType[]=%EB%B0%A9%EB%AC%B8%ED%98%95&include_finish=false")

            COUNT=$(echo "$RES" | jq '.data.data | length')

            if [ "$COUNT" -eq 0 ]; then
              break
            fi

            jq --argjson page "$p" --argjson data "$(echo "$RES" | jq '.data.data')" \
              '.visit.pages += [{"page": $page, "data": $data}]' \
              result.json > tmp.json && mv tmp.json result.json
          done

      - name: Crawl Shipping Trials
        run: |
          for ((p=1; p<=${{ inputs.shippingMaxPage }}; p++))
          do
            RES=$(curl -s \
              -H "User-Agent: Mozilla/5.0" \
              -H "Referer: https://www.stylec.co.kr/" \
              "https://api2.stylec.co.kr:6439/v1/trial?order=wr_last&page=$p&count=50&campaignType[]=%EB%AF%B8%EC%85%98%2F%EC%9D%B8%EC%A6%9D&campaignType[]=%EB%B0%B0%EB%8B%AC%ED%98%95&campaignType[]=%EA%B5%AC%EB%A7%A4%ED%8F%89&campaignType[]=%ED%8E%98%EC%9D%B4%EB%B0%B1%EF%BC%8B%EA%B5%AC%EB%A7%A4%ED%8F%89&campaignType[]=%ED%8E%98%EC%9D%B4%EB%B0%B1%ED%98%95&include_finish=false")

            COUNT=$(echo "$RES" | jq '.data.data | length')

            if [ "$COUNT" -eq 0 ]; then
              break
            fi

            jq --argjson page "$p" --argjson data "$(echo "$RES" | jq '.data.data')" \
              '.shipping.pages += [{"page": $page, "data": $data}]' \
              result.json > tmp.json && mv tmp.json result.json
          done

      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: stylec-result
          path: result.json
